<div *ngIf="selectedUser">
  <h2>{{selectedUser.userName}} Details </h2>
  <div><span>Role: </span>{{selectedUser.role}}</div>
  <div><span>Email: </span>{{selectedUser.email}}</div>
</div>
<div>
  <h2>My Users</h2>
  <ul class="users">
    <li *ngFor="let user of users"
        [class.selected]="user === selectedUser"
        (click)="onSelect(user)">
      {{user.userName}}
    </li>
  </ul>
</div>
<h2>Form Section</h2>
<div *ngIf="selectedUser">
  <label> UserName:
    <input [(ngModel)]="selectedUser.userName" placeholder="userName">
  </label>
</div>
